__pycache__/
*.py[cod]
*$py.class
*.pyo

venv/
env/
ENV/
.venv/
.virtualenv/

.env
*.env
.env.local
.env.*.local

*.log
*.pot
*.pyc
*.pyo
*.mo
*.sqlite3

/staticfiles/
/static/
/media/

*/migrations/__pycache__/

.vscode/
.idea/
*.swp
*.swo
*.bak
*.tmp
*.orig
.DS_Store
Thumbs.db

.coverage
.tox/
.nox/
.pytest_cache/
htmlcov/
*.cover
coverage.xml
.cache
pytestdebug.log

build/
dist/
*.egg-info/
.eggs/

docker-compose*.yml
Dockerfile

.ipynb_checkpoints
*.ipynb

__pypackages__/